body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(90deg, #ff0080, #7928ca);
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  margin-right: auto;
}

.producto {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  width: 250px;
  background: white;
  text-align: center;
}

.producto img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

button {
  background-color: #ff0080;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}
.contacto form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.contacto input,
.contacto textarea {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 5px;
}

.contacto button {
  background-color: #ff0080;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}
.redes-sociales a {
  color: white;
  margin: 20px;
  font-size: 20px;
  text-decoration: none;
}

.redes-sociales a:hover {
  color: #ff69b4;
}
.contacto button:hover {
  background-color: #2513b0;
}

button:hover {
  background-color: #e60073;
}
.footer-container{
  background: linear-gradient(90deg, #ff0080, #7928ca);
  background-color: #343a40;
  color: white;
  padding: 20px;
  text-align: center;
}
 * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    .carousel-container {
      width: 50%;
      margin-left: 30%;
      max-width: 700px;
      height: 500px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
      position: relative;
      background-color: #f0f0f0;
    }

    .carousel-slide {
      display: flex;
      width: 300%;
      animation: slide 12s infinite;
    }

    .carousel-slide img {
      width: 100%;
      height: auto;
    }

    @keyframes slide {
      0%   { margin-left: 0%; }
      33%  { margin-left: -100%; }
      66%  { margin-left: -200%; }
      100% { margin-left: 0%; }
    }
    

